<html>
<head>
    <title>Places Visited</title>
</head>
<body>
    <h1>You posted a place you have visited!</h1>
    <p>{{ newplace.getPlace }}</p>
    <p><a href = '/'>View your list of places visited</a></p>
</body>
</html>
